# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
v1 (for 2018 csgo)/.vs/Airflow (legacy)/v17
v1 (for 2018 csgo)/.vs/Airflow (legacy)/FileContentIndex
v1.5/Legacy Debug
v1/.vs
v1/Airflow/Debug
/v1/Airflow/Debug
v1.5/.vs
v1.5/Bins
v1.5/Bins
v1 (for 2018 csgo)/.vs
v1 (for 2018 csgo)/Debug/Airflow_v1_legacy.pdb
v1 (for 2018 csgo)/Debug/Airflow_v1_desync.pdb
