# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
v1 (for 2018 csgo)/.vs/Airflow (legacy)/v17/Browse.VC.db-wal
v1 (for 2018 csgo)/.vs/Airflow (legacy)/v17/Browse.VC.db
v1 (for 2018 csgo)/.vs/Airflow (legacy)/v17/Browse.VC.db-shm
v1 (for 2018 csgo)/.vs/Airflow (legacy)/FileContentIndex/8de82acd-1aba-4a8f-88a5-803b65af6f4a.vsidx
v1 (for 2018 csgo)/.vs/Airflow (legacy)/v17/Browse.VC.opendb
v1 (for 2018 csgo)/Airflow/additionals/freetype/ChangeLog
v1 (for 2018 csgo)/Airflow/additionals/freetype/ChangeLog.20
v1 (for 2018 csgo)/Airflow/additionals/freetype/ChangeLog.22
v1 (for 2018 csgo)/Airflow/additionals/freetype/ChangeLog.21
v1 (for 2018 csgo)/Airflow/additionals/freetype/ChangeLog.23
v1 (for 2018 csgo)/Airflow/additionals/freetype/ChangeLog.26
v1 (for 2018 csgo)/Airflow/additionals/freetype/ChangeLog.25
v1 (for 2018 csgo)/Airflow/additionals/freetype/ChangeLog.24
v1 (for 2018 csgo)/Airflow/additionals/freetype/ChangeLog.28
v1 (for 2018 csgo)/Airflow/additionals/freetype/ChangeLog.27
v1 (for 2018 csgo)/Airflow/additionals/freetype/docs/CHANGES
v1 (for 2018 csgo)/Airflow/additionals/freetype/docs/CMAKE
v1 (for 2018 csgo)/Airflow/additionals/freetype/docs/DEBUG
v1 (for 2018 csgo)/Airflow/additionals/freetype/docs/CUSTOMIZE
v1 (for 2018 csgo)/Airflow/additionals/freetype/docs/freetype-config.1
v1.5/Legacy Debug/opaihook.tlog/link.write.1.tlog
v1.5/Legacy Debug/opaihook.tlog/opaihook.lastbuildstate
v1.5/Legacy Debug/opaihook.tlog/opaihook.write.1u.tlog
v1.5/Legacy Debug/opaihook.tlog/link.read.1.tlog
v1.5/Legacy Debug/opaihook.tlog/link.command.1.tlog
v1.5/Legacy Debug/opaihook.tlog/CL.read.1.tlog
v1.5/Legacy Debug/opaihook.vcxproj.FileListAbsolute.txt
v1.5/Legacy Debug/opaihook.tlog/CL.command.1.tlog
v1.5/Legacy Debug/opaihook.tlog/CL.16256.write.1.tlog
v1.5/Legacy Debug/vc142.idb
v1.5/Legacy Debug/vc142.pdb
v1.5/Legacy Debug/vcpkg.applocal.log
v1.5/Legacy Debug/opaihook.log
v1.5/Legacy Debug/csgo-legacy_debug.dll.recipe
v1.5/Legacy Debug/csgo-legacy_debug.ilk
v1/.vs/airflow v1/v17/ipch/AutoPCH/6084d39b0f510995/DLLMAIN.ipch
v1/.vs/airflow v1/v17/ipch/AutoPCH/f6361fc2b36e3f0a/DISPLACEMENT.ipch
v1/.vs/airflow v1/v17/Solution.VC.db
v1/.vs/airflow v1/v17/ipch/AutoPCH/888840efd709245a/DIRECTX.ipch
v1/.vs/airflow v1/v17/fileList.bin
v1/.vs/airflow v1/v17/Browse.VC.db
v1/.vs/airflow v1/v17/.suo
v1/.vs/airflow v1/FileContentIndex/dd561efc-3813-4339-8321-94d4a4629499.vsidx
v1/.vs/airflow v1/v17/DocumentLayout.json
v1/Airflow/additionals/freetype/builds/atari/deflinejoiner.awk
v1/Airflow/additionals/freetype/builds/atari/FREETYPE.PRJ
v1/Airflow/additionals/freetype/objs/Win32/Release Static/freetype.tlog/rc.write.1.tlog
v1/Airflow/additionals/freetype/objs/Win32/Release Static/freetype.tlog/rc.read.1.tlog
v1/Airflow/additionals/freetype/objs/Win32/Release Static/ftver.res
v1/Airflow/additionals/freetype/objs/Win32/Release Static/freetype.tlog/rc.command.1.tlog
v1/Airflow/additionals/freetype/objs/Win32/Release Static/freetype.tlog/Lib.command.1.tlog
v1/Airflow/additionals/freetype/objs/Win32/Release Static/freetype.tlog/Lib-link-cvtres.write.1.tlog
v1/Airflow/additionals/freetype/objs/Win32/Release Static/freetype.tlog/Lib-link-cvtres.read.1.tlog
v1/Airflow/additionals/freetype/objs/Win32/Release Static/freetype.tlog/freetype.lastbuildstate
v1/Airflow/additionals/freetype/objs/Win32/Release Static/freetype.tlog/CL.write.1.tlog
v1/Airflow/additionals/freetype/objs/Win32/Release Static/freetype.tlog/CL.read.1.tlog
v1/Airflow/additionals/freetype/objs/Win32/Release Static/freetype.tlog/CL.command.1.tlog
v1/Airflow/additionals/freetype/objs/Win32/Release Static/freetype.log
v1/Airflow/additionals/freetype/objs/Win32/Release Static/freetype.lib.recipe
v1/Airflow/additionals/freetype/objs/Win32/Debug Static/freetype.vcxproj.FileListAbsolute.txt
v1/Airflow/Debug/microsoft/STL/std.ixx.ifc.dt.module.json.command
v1/Airflow/Debug/microsoft/STL/std.ixx.ifc.dt.module.json
v1/Airflow/Debug/vc143.idb
v1/Airflow/Debug/vc143.pdb
v1/Airflow/Debug/vcpkg.applocal.log
v1/Airflow/Debug/microsoft/STL/std.ixx.ifc.dt.d.json
v1/Airflow/Debug/microsoft/STL/std.compat.ixx.ifc.dt.module.json.command
v1/Airflow/Debug/microsoft/STL/std.compat.ixx.ifc.dt.module.json
v1/Airflow/Debug/microsoft/STL/std.compat.ixx.ifc.dt.d.json
v1/Airflow/Debug/csgo-debug.ilk
v1/Airflow/Debug/csgo-debug.dll.recipe
v1/Airflow/Debug/Airflow.log
v1/Airflow/Debug/airflow V1.tlog/link.write.1.tlog
/v1/Airflow/Debug
v1.5/.vs/opaihook/v17/fileList.bin
v1.5/.vs/opaihook/v17/Solution.VC.db
